<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
        <handlers accessPolicy="Read, Execute, Script" />
    </system.webServer>
    <system.web>
        <identity impersonate="false" />
        <pages compilationMode="Auto" />
    </system.web>
</configuration>
